Binaries/** linguist-vendored
Binaries/** linguist-vendored
Sources/msdfgen/core/** linguist-vendored
Sources/msdfgen/ext/** linguist-vendored
Sources/msdfgen/msdfgen-config.h linguist-vendored
Sources/msdfgen/msdfgen-ext.h linguist-vendored
Sources/msdfgen/msdfgen.h linguist-vendored
Sources/msdfgen/cli.cpp linguist-vendored